#app {
  font-family: 'Avenir', 'Nunito', 'Source Sans Pro', sans-serif;
  margin: 0 auto;
  color: $light-grey;
  font-size: 14px;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }

  button {
    padding: 7px 12px;
    border: 0;
    cursor: pointer;
  }
}