#app {
  color: $light-grey;
  font-family: 'Avenir', 'Nunito', 'Source Sans Pro', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  overflow-x: hidden;

  a {
    text-decoration: none;
  }
}

button {
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 7px 12px;
}