.main-header {
  margin-bottom: 4%;

  .navigation-wrapper {
    background: $white;
    box-shadow: 0 0 3px $lighter-grey;
    width: 100%;
    padding: 9px 14px;
    position: fixed;
    top: 0;
    z-index: 9999;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;

      a {
        color: $dim-blue;
        transition-duration: 0.4s;

        &:hover {
          color: transparentize($dim-blue, 0.5);
        }

        .fa {
          padding-right: 10px;
        }
      }

      .btn {
        background:  $light-green;
        padding: 7px 12px;
        color: $white;

        &:hover {
          color: $white;
        }

        .fa {
          padding: 0;
        }
      }

      .logo {
        color:  $light-green;
        font-size: 30px;

        &:hover {
          color:  $light-green;
        }
      }

      .navlinks-container {
        &.auth-active {
          .profile-image {
            margin-right: 0;
            vertical-align: middle;
          }

          .logoutall {
            margin-left: -5px;
          }
        }

        * {
          margin: 0 10px;
        }

        .search-container {
          display: inline;
          position: relative;

          .fa {
            color: $white;
            position: absolute;
            top: 3px;
            left: 9px;
            opacity: .5;
            transition-duration: 0.4s;
          }

          input[type="search"] {
            background: $dim-blue;
            border: 0;
            border-radius: 20px;
            color: $white;
            font-weight: 100;
            text-indent: 22px;
            padding: 7px 12px;
            outline: 0;
            width: 400px;
            height: 38px;
            transition-duration: 0.4s;

            &::placeholder {
              color: $white;
              opacity: .5;
            }

            &:focus {
              text-indent: 0;

              ~ .fa {
                left: -20px;
              }
            }
          }

          button {
            background-color: $white;
            border-radius: 15px;
            color: $dim-blue;
            position: absolute;
            top: -6px;
            right: 5px;
            transition-duration: 0.4s;
            transform: scale(0.9);

            &:hover {
              transform: scale(1);
            }
          }
        }

      }
    }
  }

  .welcome-section {
    background-color: $almost-black;
    background-image: url('https://image.ibb.co/k1Njuk/Stock_Snap_T2_SO7_MDTYS.jpg');
    padding: 10px;
    background-position: 0 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 4%;
    text-align: center;

    h1 {
      font-size: 35px;
      margin-bottom: 0;
    }
  }
}
