header {
  .navigation-wrapper {
    box-shadow: 0 0 3px $lighter-grey;
    width: 100%;
    padding: 7px 12px;

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;

      a {
        color: $dim-blue;
        transition-duration: 0.4s;

        &:hover {
          color: transparentize($dim-blue, 0.5);
        }

        .fa {
          padding-right: 10px;
        }
      }

      .btn {
        background:  $light-green;
        padding: 7px 12px;
        color: $white;

        &:hover {
          color: $white;
        }

        .fa {
          padding: 0;
        }
      }

      .logo {
        color:  $light-green;
        font-size: 30px;

        &:hover {
          color:  $light-green;
        }
      }

      .navlinks-container {
        position: relative;

        &.auth-active {
          .profile-image {
            margin-right: 0;
            vertical-align: middle;
          }

          .logoutall {
            margin-left: -5px;
          }
        }

        * {
          margin: 0 10px;
        }

        .fa-search {
          color: $white;
          position: absolute;
          top: 12px;
          left: 9px;
          opacity: .5;
        }

        input[type="search"] {
          background: $dim-blue;
          border: 0;
          border-radius: 20px;
          color: $white;
          font-weight: 100;
          text-indent: 22px;
          padding: 7px 12px;
          outline: 0;
          width: 400px;
          height: 38px;

          &::placeholder {
            color: $white;
            opacity: .5;
          }
        }
      }
    }
  }

  .welcome-section {
    background-color: $almost-black;
    background-image: url('https://image.ibb.co/k1Njuk/Stock_Snap_T2_SO7_MDTYS.jpg');
    padding: 10px;
    background-position: 0 45%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    height: 200px;

    .container {
      padding-top: 20px;
    }

    h1 {
      font-size: 35px;
    }

    p {
      width: 50%;
    }
  }
}
