.wrapper {
  max-width: 1200px;
  margin-left: 4%;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-between;

  &.homepage {
    margin-top: -1%;
  }

  .boards {
    .board-listing {
      list-style: none;
      padding: 0;

      li {
        margin: 10px auto;
        padding-left: 30px;
      }

      .main {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background: $light-green;
          border-radius: 4px;
          left: 0;
          top: -20%;
        }

        & ~ .main {
          &::before {
            background: $orange;
          }

          & ~ .main {
            &::before {
              background: $dim-blue;
            }
          }
        }
      }
    }

    a {
      color: $light-grey;
    }
  }

  .featured-threads {
    flex-grow: 0.7;
  }
}
