.wrapper {
  max-width: 1200px;
  margin: 25px auto;
  display: flex;
  justify-content: space-between;

  .boards {
    .board-listing {
      list-style: none;
      padding: 0;

      li {
        margin: 10px auto;
        padding-left: 30px;
      }

      .main {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          width: 20px;
          height: 20px;
          background: $light-green;
          border-radius: 4px;
          left: 0;
          top: -20%;
        }

        & ~ .main {
          &::before {
            background: $orange;
          }

          & ~ .main {
            &::before {
              background: $dim-blue;
            }
          }
        }
      }
    }

    a {
      color: $light-grey;
    }
  }

  .featured-threads {
    flex-grow: 0.7;

    .thread-items {

      .thread-item {
        cursor: pointer;
        margin: 15px auto;
        border-bottom: 1px solid $almost-white;
        padding: 10px;
        transition-duration: .6s;

        &:hover {
          background: $almost-white;
        }

        &:first-of-type {
          margin-top: 0;
        }

        > a {
          color: $light-grey;
        }

        .metadata {
          display: flex;
          align-items: center;
          margin: 10px auto;

          [class^="thread-"] {
            margin: 0 15px 0 0;

            * {
              margin-right: 10px;
            }
          }

          .thread-owner-details {
            display: flex;
            align-items: center;
            flex-basis: 70%;
          }
        }
      }
    }
  }
}